/* ABC fonts */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./fonts/abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}
#legend {
  position: fixed;
  width: 85%;
  bottom: 0;
  background-color: rgba(255, 255, 255, .75);
}
#legend rect {
  fill: url(#gradient);
}
#axisGroup text {
  font-size: .7rem;
  fill: #1C1C1C;
}
#axisGroup line, #axisGroup path {
  stroke: #1C1C1C;
}
.parkland {
  fill: lightgrey;
}
.water {
  fill: #248BC9;
}
.border {
  fill: none;
  stroke: #1C1C1C;
  stroke-width: 2;
  stroke-dasharray: 5 5;
}
.area {
  stroke: #1C1C1C;
  stroke-width: 2;
}
#legend rect {
  fill: url(#gradient);
  stroke: #1C1C1C;
}
#axisGroup text {
  font-size: .9rem;
  font-weight: bold;
}
#axisGroup path {
  stroke: none;
}
#legendLabel {
  text-anchor: middle;
  font-size: 1.25rem;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
.label {
  position: absolute;
  text-align: center;
  background-color: #1C1C1C;
  color: white;
  padding: 3px;
}
.name {
  color: #01CFFF;
}
.case {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
